snippet 019hasdf_NotAccesibleNameOnPurpose
<div class="example">
	<div class="of">
		<div class="snippet">
			<h1>
				This is an example of a custom snippet using HTML,
				creating snippets for other languages is pretty much the same thing
			</h1>
		</div>
	</div>
</div>
endsnippet
